<div class="block">
  <nav class="navbar is-success">
    <div class="navbar-left">
      <a href="/posts" class="is-size-2 padded has-text-white navbar-item is-family-monospace">Whisper</a>
    </div>
    <% if user_signed_in? %>
      <div class="navbar-end">
        <%= link_to "#{current_user.username}", edit_user_registration_path, class: "navbar-item has-text-white" %>
        <span class="navbar-item">
          <%= link_to "Post Secret", new_post_path, class: "button is-primary is-outlined is-inverted" %>
        </span>
        <span class="navbar-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button is-primary is-outlined is-inverted" %>
        </span>
      </div>
    <% else %>
      <div class="navbar-end">
        <span class="navbar-item">
          <%= link_to "Post Secret", new_post_path, class: "button is-primary is-outlined is-inverted" %>
        </span>
        <span class="navbar-item">
          <%= link_to "Sign In", new_user_session_path, class: "button is-primary is-outlined is-inverted" %>
        </span>
        <span class="navbar-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "button is-primary is-outlined is-inverted" %>
        </span>
      </div>
    <% end %>
  </nav>
</div>
